.header {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 115px;
  padding: 0 50px;
  width: 100%;
}

.header_content {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 1412px;
  width: 100%;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.menu {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 20px;
  height: 64px;
}

.gamburger_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1px;
}
.gamburger_menu:hover {
  cursor: pointer;
}
.menu_line {
  height: 3px;
  width: 33px;
  position: relative;
  background-color: #fff;
  border-radius: 1.5px;
  transition: 0.5s;
}
.first_line {
  margin-bottom: 7px;
}
.first_line_active {
  height: 0px;
  width: 0px;
}
.second_line_active {
  transform: rotate(45deg);
}
.third_line {
  bottom: 3px;
  margin-bottom: 5px;
}
.third_line_active {
  transform: rotate(-45deg);
}
.fourth_line_active {
  height: 0px;
  width: 0px;
}

.header_nav_wrapper {
  display: flex;
  z-index: 2;
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_nav_ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main_nav_li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.main_nav_a {
  text-decoration: none;
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.main_nav_a:hover {
  color: #9E40B5;
}

.header_join_button_container {
  display: flex;
  align-items: center;
  /* margin: 0 0 0 44px; */
}


.header_join_button_container_tablet {
  display: none;
}

.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

@media screen and (max-width: 1320px) {
  .header {
    width: 100%;
    height: 73px;
    padding: 0 40px;
  }
  .menu {
    display: flex;
  }
  /* .header_nav_wrapper {
    display: none;
    width: 0px;
    overflow: hidden;
  } */

  .header_nav_wrapper {
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    height: 0vh ;
    width: 100vw;
    top: 73px;
    left: 0px;
    /* backdrop-filter: blur(40px); */
    background-color: rgba(0, 0, 0, 0.9);
    transition: 500ms;
    z-index: 10;
    overflow-y: hidden;
    /* a {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      &:active, &:hover, &:focus {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      } */
  }

  .header__navwrapper_active {
    height: 100vh;
    transition: 500ms;
    position: fixed;
    width: inherit;
    z-index: 10;
    overflow-y: auto;
  }

  .main_nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_nav_ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .main_nav_li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #111111;
  }

  .header_join_button_container {
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .header_join_button_container_tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* @media screen and (max-width: 1507px) {
  .header {
    width: 100%;
    height: 100px;
    padding: 0 40px;
  }
  .menu {
    display: flex;
  }
  .header_nav_wrapper {
    display: none;
    width: 0px;
    overflow: hidden;
  }
  .header_join_button_container_tablet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
} */

@media screen and (max-width: 739px) {
  .header {
    /* width: 390px; */
    width: 100%;
    height: 73px;
    padding: 0 20px;
  }
  .menu {
    display: flex;
  }
  /* .header_nav_wrapper {
    display: none;
    width: 0px;
    overflow: hidden;
  } */
  .header_join_button_container_tablet {
    display: none;
  }
}