.section_title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.product_section {
  position: relative;
  width: 100%;
  z-index: 1;
}

.product_background {
  position: absolute;
  width: 2541px;
  height: 1899px;
  top: -573px;
  left: -550px;
  z-index: -1;
}

.product_container {
  width: 100%;
  padding: 0 120px;
  margin: 140px 0 0 0;
}

.product_content {
  display: flex;
  margin: 68px 0 0 0;
}

.product_left_content {
  min-width: 365px;
  max-width: 365px;
}

.mobile_version {
  display: none;
}

.tablet_version {
  display: none;
}

.product_left_text {
  margin: 0 0 36px 0;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #BDCCEA;
}

.product_right_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 25px;
}

.product_right_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 195px;
  height: 178px;
  background-image: url('/images/Rectangle187.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.product_right_caption {
  margin: 0px;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.mobile_slider {
  display: none;
}

@media screen and (max-width: 1507px) {
  .section_title {
    font-size: 48px;
    line-height: 101.4%;
  }
  .product_container {
    width: 100%;
    padding: 0 35px;
    margin: 140px 0 0 0;
  }
  .product_content {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 0 0;
  }
  .product_left_content {
    min-width: 385px;
    max-width: 385px;
  }
  .product_left_text {
    margin: 0 0 36px 0;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* text-align: center; */
    letter-spacing: 0.015em;
    color: #BDCCEA;
  }
  .product_right_content {
    justify-content: center;
    row-gap: 25px;
    column-gap: 20px;
    max-width: 680px;
  }
  .product_right_item {
    width: 153px;
    height: 140px;
    background-size: 100%;
  }
  /* .desctop_version {
    display: none;
  } */
  /* .tablet_version {
    display: flex;
    margin: 45px 0 0 0;
  } */
  .mobile_version {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .product_content {
    flex-direction: column;
  }
  .product_left_text {
    text-align: center;
  }
  .desctop_version {
    display: none;
  }
  .tablet_version {
    display: flex;
    margin: 45px 0 0 0;
  }
}

@media screen and (max-width: 739px) {
  .product_section {
    background-image: url('/images/landing/Group357991.svg');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: -185px -165px;
    overflow-y: visible;
  }
  .product_container {
    padding: 0;
    margin: 0;
  }
  .product_content {
    flex-direction: column;
    margin: 58px 0 0 0;
  }
  .section_title {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .product_left_content {
    min-width: 100%;
    max-width: 100%;
  }
  .product_left_text {
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 20px 0;
  }
  .desctop_version {
    display: none;
  }
  .mobile_slider {
    display: block;
    width: 390px;
  }
  .tablet_version {
    display: none;
  }
  .mobile_version {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
  }
  .product_right_content {
    display: none;
  }
}