.section_title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 120px;
  /* margin: 178px 0 0 0; */
  margin: 65px 0 0 0;
}

.p2egame_section_content {
  display: flex;
  margin: 35px 0 0 0;
}

.p2egame_text_block {
  width: 50%;
}

.p2egame_text_title {
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_text_paragraph {
  margin: 45px 0 44px 0;
  max-width: 580px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_image_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.p2egame_image_block_mobile {
  display: none;
}

.buy_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 60px;
  background: #9E40B5;
  border-radius: 38px;
  cursor: pointer;

  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

@media screen and (max-width: 1507px) {
  .p2egame_section {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1320px) {
  .p2egame_text_title {
    font-size: 24px;
    line-height: 29px;
  }
  .p2egame_text_paragraph {
    max-width: 351px;
    font-size: 16px;
    line-height: 20px;
    margin: 25px 0px 20px 0px;
  }
}

/* @media screen and (max-width: 1507px) {
  .section_title {
    font-size: 48px;
    line-height: 59px;
  }
  .p2egame_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 40px;
    margin: 65px 0 0 0;
  }
  .p2egame_text_block {
    width: 407px;
    z-index: 1;
  }
  .p2egame_text_title {
    font-size: 24px;
    line-height: 29px;
  }
  .p2egame_text_paragraph {
    max-width: 351px;
    font-size: 16px;
    line-height: 20px;
    margin: 25px 0px 20px 0px;
  }
  .p2egame_image_block {
    position: relative;
    width: 257px;
    z-index: 2;
  }
} */

@media screen and (max-width: 739px) {
  .section_title {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .p2egame_section {
    padding: 0 20px;
    /* margin: 178px 0 0 0; */
    margin: 89px 0 0 0;
  }
  .p2egame_section  .section_title {
    display: none;
  }
  .p2egame_section_content {
    flex-direction: column;
  }
  .p2egame_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .p2egame_text_title {
    text-align: center;
  }
  .p2egame_text_paragraph {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.015em;
    margin: 35px 0 35px 0;
    max-width: 100%;
  }
  .p2egame_image_block {
    display: none;
  }
  .p2egame_image_block_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0 0 0;
  }
  .buy_button {
    width: 301px;
    height: 55px;
    background: #933DF6;
    border-radius: 60px;
    font-size: 18px;
    line-height: 22px;
  }
}