/* .product_slider_container{
  width: 200px;
  height: 300px;
} */
/* .product_slider_container .slick-slider {
  width: 200px;
  height: 300px;
}
.product_slider_container .slick-track {
  display: flex;
  width: 200px;
  height: 300px;
}

.product_slider_slide {
  width: 200px;
  height: 300px;
} */