.benefits_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.benefits_container {
  width: 100%;
  padding: 0 120px;
  margin: 90px 0 0 0;
}

.section_title {
  text-align: center;
  margin: 0;
  /* font-family: 'Montserrat-Bold'; */
  /* font-style: normal; */
  font-family: 'ZenDots-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.benefits_first_block {
  position: relative;
  display: flex;
  margin: 50px 0 0 0;
}

.benefits_second_block {
  display: flex;
}

.benefits_text_container {
  width: 50%;
}

.benefits_text_block {
  position: relative;
}

.benefits_text_block2 {
  position: relative;
  margin: 100px 0 0 0;
}

.benefits_number_container {
  position: absolute;
  z-index: 0;
}

.benefits_number_container2 {
  position: absolute;
  z-index: 0;
}

.benefits_number {
  font-family: 'Druk-Wide-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 83.6674px;
  line-height: 109px;
  letter-spacing: 0.015em;
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BEBEBE;
}

.benefits_text_title {
  position:relative;
  /* font-family: 'Montserrat-Bold';
  font-style: normal; */
  font-family: 'ZenDots-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
  z-index: 2;
  top: 68px;
  left: 88px;
  padding: 0 88px 0 0;
}

.benefits_text {
  position:relative;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
  z-index: 2;
  top: 68px;
  left: 88px;
  padding: 0 88px 0 0;
}

.benefits_img_container_first {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 708px;
  top: 20%;
  right: -50px;
}

.benefits_img_container_second {
  width: auto;
}

@media screen and (max-width: 1507px) {
  .benefits_container {
    padding: 0 50px;
  }
  .section_title {
    font-size: 48px;
    line-height: 59px;
  }
}

@media screen and (max-width: 1320px) {
  .benefits_second_block {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 100px 0 0 0;
  }
  .benefits_text_container {
    z-index: 1;
    width: 60%;
  }
  .benefits_text_block {
    position: relative;
    /* width: 374px; */
    width: 100%;
  }
  .benefits_text_block2 {
    position: relative;
    margin: 60px 0 0 0;
    /* width: 374px; */
    width: 100%;
  }
  .benefits_number {
    font-size: 64px;
    line-height: 84px;
  }
  .benefits_text_title {
    font-size: 32px;
    line-height: 39px;
    top: 40px;
    left: 45px;
    padding: 0;
  }
  .benefits_text {
    font-size: 16px;
    line-height: 20px;
    top: 40px;
    left: 45px;
    padding: 0;
  }
  .benefits_img_container_first {
    width: 500px;
    top: 10%;
    right: -50px;
  }
  .benefits_img_container_second {
    position: absolute;
    width: 500px;
    left: -120px;
    top: -50px;
  }
}

@media screen and (max-width: 1150px) {
  .benefits_img_container_first {
    width: 500px;
    top: 10%;
    right: -100px;
  }
}

@media screen and (max-width: 739px) {
  .benefits_container {
    padding: 10px;
  }
  .section_title {
    text-align: center;
    margin: 0;
    /* font-family: 'Montserrat-Bold'; */
    /* font-style: normal; */
    font-family: 'ZenDots-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .benefits_first_block {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .benefits_text_container {
    width: 100%;
  }
  .benefits_number_container2 {
    position: absolute;
    z-index: 0;
    right: 0;
  }
  .benefits_number {
    font-size: 60px;
    line-height: 78px;
  }
  .benefits_text_title {
    top: 0px;
    left: 0px;
    padding: 0;
    top: 40px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .benefits_text {
    margin: 10px 0 0 0;
    top: 0px;
    left: 0px;
    padding: 0 30px;
    top: 40px;
    font-size: 13.5856px;
    line-height: 17px;
    text-align: center;
  }
  .benefits_img_container_first {
    position: relative;
    right: 0px;
    top: 0px;
    width: 100%;
    right: 0%;
  }
  .benefits_second_block {
    flex-direction: column-reverse;
    margin: -50px 0 0 0;
  }
  .benefits_img_container_second {
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
  }
}