.roadmap_slider_container_mobile {
  margin: 50px 0 0 0;
  width: 390px;
}
.sale_slider_caption_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.sale_slider_left_arrow {
  margin: 0;
}
.sale_slider_right_arrow {
  margin: 0 0 0 105px;
}
.sale_slider_left_arrow,
.sale_slider_right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roadmap_slider_container_mobile .roadmap_slider_item_mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 390px;
  height: 400px;
  /* background-image: url('/images/Rectangle187.png');
  background-repeat: no-repeat;
  background-size: cover; */
}
.roadmap_slider_item_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
.roadmap_quarter {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}
.roadmap_scale {
  width: 100%;
  border: 1px solid #595362;
  border-radius: 1px;
  margin: 3px 0 0 0;
}
.roadmap_internal {
  width: 100%;
  border: 1px solid #C49CFD;
  background-color: #C49CFD;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 5px #34175C;
}
.roadmap_slider_caption_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}
.roadmap_slider_caption {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #FFFFFF;
}
.roadmap_slider_left_arrow {
  margin: 0;
}
.roadmap_slider_right_arrow {
  margin: 0 0 0 105px;
}
.roadmap_slider_left_arrow,
.roadmap_slider_right_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.roadmap_slider_text_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.roadmap_text_subtitle {
  /* font-family: 'Montserrat-Bold';
  font-style: normal; */
  font-family: 'ZenDots-Regular';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
  color: #9E40B5;
}
.roadmap_text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  padding: 15px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.015em;
  text-align: center;
  color: #D4E5FF;
}