.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  margin: 130px 0 0 0;
  width: 100%;
  padding: 0 79px;
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #423B49;
  padding: 58px 0px 90px 0px;
}

.footer_tothetop {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.footer_tothetop_button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: -32px;
  width: 141px;
  height: 141px;
  border: 4px solid #933DF6;
  border-radius: 2px;
}

.footer_tothetop_button_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99px;
  height: 59px;
}

.footer_socials_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 1320px) {
  .footer {
    margin: 78px 0 0 0;
    padding: 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #423B49;
    padding: 36px 0 0 0;
    margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 739px) {
  .footer_tothetop {
    margin: 15px 0 55px 0;
  }
  .footer_tothetop_button {
    width: 81px;
    height: 81px;
    bottom: 0px;
  }
  .footer_tothetop_button_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 29px;
  }
}
