.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  margin: 130px 0 0 0;
  width: 100%;
  padding: 0 79px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #423B49;
  padding: 65px 92px 110px 92px;
}

.footer_products_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
}

.footer_title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.footer_text_medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px; 
}

.footer_text_regular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px;
}

@media screen and (max-width: 1507px) {
  .footer {
    margin: 78px 0 0 0;
    padding: 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #423B49;
    padding: 36px 0 0 0;
    margin: 0 20px 0 20px;
  }
  .footer_products_about {
    display: none;
  }
  .footer_title {
    font-size: 22px;
    line-height: 26px;
  }
  .footer_text_medium {
    margin: 30px 0 70px 0;
    font-size: 18px;
    line-height: 21px;
    min-height: 105px; 
  }
}