.section_title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.sale_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 140px 0 0 0;
  width: 100%;
  padding: 0 120px;
}

.sale_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.sale_presale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: 510px;
  background-image: url('/images/rectangle180.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 85px 0 0 0;
  padding: 50px 90px;
}

.sale_presale_left {
  max-width: 418px;
  width: 418px;
  margin: 0 10px 0 0;
}

.sale_NFTsale_left {
  max-width: 442px;
  width: 442px;
  margin: 0 10px 0 0;
}

.sale_presale_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.sale_presale_paragr {
  margin: 45px 0 0 0;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #BDCCEA;
}

.sale_presale_subtitle {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 20px 0 0 0;
}

.sale_presale_divider_wrapper {
  display: flex;
  align-items: center;  
}

.sale_presale_divider {
  /* width: 2px; */
  /* height: 429px; */
  height: 100%;
  border: 1px solid #6A4D9B;
}

.sale_presale_tokensinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 418px;
  width: 418px;
  margin: 80px 0 0 10px;
}

.sale_presale_tokensinfo_item {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 0 0;
}
.sale_presale_name,
.sale_presale_value {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.sale_presale_tokensinfo_button {
  display: flex;
  justify-content: flex-end;
}

.sale_NFTSale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: 510px;
  background-image: url('/images/NFTSale.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px 0 0 0;
  padding: 50px 90px;
}

.sale_NFTsale_paragr {
  margin: 5px 0 0 0;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #BDCCEA;   
}

.sale_divider {
  height: 100%;
  border: 1px solid #1C2353;
}

.sale_NFTSale_tokensinfo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url('/images/NFTSaleIMG.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position-y: -50px;
  max-width: 442px;
  width: 442px;
}

.sale_presale_skills_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0 0;
  height: 140px;
}

.sale_presale_skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
  height: 60px;
  border: 1px solid #FBE4FF;
  border-radius: 60px;
  padding: 0 20px;
}

.sale_presale_damage_img {
  width: 34px;
  height: 41px;
}

.sale_presale_speed_img {
  width: 41px;
  height: 41px;
}

.sale_presale_health_img {
  width: 61px;
  height: 32px;
}

.sale_presale_health_img {
  width: 61px;
  height: 32px;
}

.sale_presale_armor_img {
  width: 37px;
  height: 45px;
}

.sale_presale_skill_text {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #BDCCEA;
}

.sale_MainSale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/MainSale.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px 0 0 0;
}

.sale_PrivateSale {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/PrivateSale.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px 0 0 0;
}

.sale_listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/PrivateSale.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 30px 0 0 0;
}

.sale_listing_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 10px 0 0 0;
}

.sale_listing_timer_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 780px;
  margiN: 72px 0 0 0;
}

.sale_listing_timer_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 120px;
  background: rgba(64, 31, 43, 0.6);
  border: 1.5px solid #000000;
  backdrop-filter: blur(23px);
  border-radius: 6px;

  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.sale_listing_timer_caption {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  text-align: center;
  margin: 16px 0 0 0;
}

.buy_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 60px;
  background: #933DF6;
  border-radius: 38px;
  cursor: pointer;

  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.mobile_slider {
  display: none;
}

@media screen and (max-width: 1320px) {
  .sale_section {
    padding: 0 20px;
    margin: 95px 0 0 0;
  }
}

@media screen and (max-width: 1150px) {
  .tokenomics_container {
    height: 570px;
  }
  .sale_presale_skills_block {
    margin: 15px 0 0 0;
    width: 270px;
  }
  .sale_presale_skill {
    width: 130px;
    height: 37px;
    padding: 0 13px;
  }
  .sale_presale_damage_img {
    width: 23px;
    height: 27px;
  }
  .sale_presale_speed_img {
    width: 26px;
    height: 26px;
  }
  .sale_presale_health_img {
    width: 39px;
    height: 20px;
  }
  .sale_presale_armor_img {
    width: 19px;
    height: 23px;
  }
}

@media screen and (max-width: 1000px) {
  .section_title {
    text-align: center;
    margin: 0;
    font-size: 48px;
    line-height: 59px;
  }
  .sale_presale_title {
    font-size: 32px;
    line-height: 39px;
  }
  .sale_presale {
    height: 557px;
    padding: 60px 40px;
    margin: 105px 0 0 0;
  }
  .sale_NFTSale {
    height: 557px;
    padding: 60px 40px;
  }
  .sale_MainSale {
    height: 557px;
    padding: 60px 40px;
  }
  .sale_PrivateSale {
    height: 557px;
    padding: 60px 40px;
  }
  .sale_listing {
    justify-content: center;
    height: 557px;
    padding: 60px 40px;
  }
  .sale_presale_name {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .sale_presale_value {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .sale_presale_paragr {
    margin: 45px 0 0 0;
    font-size: 18px;
    line-height: 22px;
  }
  .sale_NFTsale_paragr {
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #BDCCEA;
  }
  .sale_presale_subtitle {
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 0 0;
  }
  .sale_listing_title {
    font-size: 32px;
    line-height: 39px;
    margin: 0;
  }
  .sale_listing_timer_block {
    /* width: 387px; */
    width: 560px;
    margin: 60px 0 0 0;
  }
  .sale_listing_timer_cell {
    /* width: 73px;
    height: 60px; */
    width: 110px;
    height: 90px;
    border-radius: 3px;
  
    font-size: 24px;
    line-height: 29px;
  }
  .sale_listing_timer_caption {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 0 0;
  }
}

/* @media screen and (max-width: 1507px) {
  .sale_section {
    padding: 0 25px;
    margin: 95px 0 0 0;
  }
  .section_title {
    text-align: center;
    margin: 0;
    font-size: 48px;
    line-height: 59px;
  }
  .sale_presale {
    width: 689px;
    height: 557px;
    background-image: url('/images/landingTablet/PreSaleTabletBG.svg');
    padding: 60px 40px;
    margin: 105px 0 0 0;
  }
  .sale_NFTSale {
    width: 689px;
    height: 557px;
    background-image: url('/images/landingTablet/NFTSaleTabletBG.svg');
    padding: 60px 40px;
  }
  .sale_MainSale {
    width: 689px;
    height: 557px;
    background-image: url('/images/landingTablet/MainSaleTabletBG.svg');
    padding: 60px 40px;
  }
  .sale_PrivateSale {
    width: 689px;
    height: 557px;
    background-image: url('/images/landingTablet/PrivateSaleTabletBG.svg');
    padding: 60px 40px;
  }
  .sale_listing {
    width: 689px;
    height: 349px;
    background-image: url('/images/landingTablet/ListingTabletBG.svg');
    padding: 60px 40px;
  }
  .sale_presale_title {
    font-size: 32px;
    line-height: 39px;
  }
  .sale_presale_left {
    width: 290px;
  }
  .sale_presale_tokensinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 290px;
    margin: 65px 0 0 0;
  }
  .sale_NFTSale_tokensinfo {
    width: 290px;
    display: flex;
  }
  .sale_presale_tokensinfo_item {
      margin: 22px 0;
  }
  .sale_presale_name {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .sale_presale_value {
    font-family: 'Montserrat-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .sale_presale_paragr {
    margin: 45px 0 0 0;
    font-size: 18px;
    line-height: 22px;
  }
  .sale_presale_divider {
    height: 262px;
    border: 1px solid #6A4D9B;
  }
  .sale_NFTsale_left {
    width: 290px;
    padding: 0 20px 0 0;
  }
  .sale_NFTsale_paragr {
    margin: 40px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
    color: #BDCCEA;
  }
  .sale_presale_subtitle {
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0 0 0;
  }
  .sale_presale_skills_block {
    margin: 15px 0 0 0;
  }
  .sale_presale_skill {
    width: 130px;
    height: 37px;
    padding: 0 13px;
  }
  .sale_presale_damage_img {
    width: 23px;
    height: 27px;
  }
  .sale_presale_speed_img {
    width: 26px;
    height: 26px;
  }
  .sale_presale_health_img {
    width: 39px;
    height: 20px;
  }
  .sale_presale_armor_img {
    width: 19px;
    height: 23px;
  }
  .sale_presale_skill_text {
    font-size: 13px;
    line-height: 16px;
  }
  .sale_listing_title {
    font-size: 32px;
    line-height: 39px;
    margin: 0;
  }
  .sale_listing_timer_block {
    width: 387px;
    margin: 60px 0 0 0;
  }
  .sale_listing_timer_cell {
    width: 73px;
    height: 60px;
    border-radius: 3px;
  
    font-size: 24px;
    line-height: 29px;
  }
  .sale_listing_timer_caption {
    font-size: 16px;
    line-height: 20px;
    margin: 8px 0 0 0;
  }
} */

@media screen and (max-width: 739px) {
  .section_title {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .sale_section {
    padding: 0;
  }
  .sale_cards {
    display: none;
  }
  .mobile_slider {
    display: block;
  }
  .buy_button {
    width: 268px;
    height: 58px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
  }
}