.container {
  width: 1512px;
  margin: 0 auto;
  background-image: url('/images/mainBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 115px;
  padding: 0 50px;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: none;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 0 20px;
  height: 64px;
}

.gamburger_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1px;
}
.gamburger_menu:hover {
  cursor: pointer;
}
.menu_line {
  height: 3px;
  width: 33px;
  position: relative;
  background-color: #fff;
  border-radius: 1.5px;
  transition: 0.5s;
}
.first_line {
  margin-bottom: 7px;
}
.first_line_active {
  height: 0px;
  width: 0px;
}
.second_line_active {
  transform: rotate(45deg);
}
.third_line {
  bottom: 3px;
  margin-bottom: 5px;
}
.third_line_active {
  transform: rotate(-45deg);
}
.fourth_line_active {
  height: 0px;
  width: 0px;
}

.header_nav_wrapper {
  display: flex;
}

.main_nav {
  display: flex;
  align-items: center;
}

.main_nav_ul {
  display: flex;
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

.main_nav_li {
 margin-right: 30px;
}

.main_nav_a {
  text-decoration: none;

  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.header_join_button_container {
  display: flex;
  align-items: center;
  margin: 0 0 0 44px;
}
.header_join_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 50px;
  border: 2px solid #9E40B5;
  border-radius: 45px;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #9E40B5;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* padding: 0 120px; */
  padding: 0;
}

.first_section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px;
}

.first_content {
  height: 488px;
}

.first_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 103.19%;
  /* or 66px */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 90px 0 0 0;
}

.first_subtitle {
  max-width: 533px;
  font-family: 'Montserrat-Light';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 13px 0 0 0;
}

.first_buttons_block {
  display: flex;
  align-items: center;
  margin: 55px 0 0 0;
}

.second_buttons_block {
  display: none;
}

.join_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 60px;
  background: #9E40B5;
  border-radius: 38px;
  cursor: pointer;

  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.download_WhitePaper_button {
  position: relative;
  display: flex;
  align-items: center;
  margiN: 0 0 0 140px;
  height: 60px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  cursor: pointer;
}

.download_logo {
  position: absolute;
  left: -70px;
  top: -8px;
}

.first_right {
  position: relative;
  width: 50%;
  height: 488px;
}

.planetex_tok {
  position: absolute;
  top: 50px;
  right: -70px;
}

.diagram {
  position: absolute;
  bottom: -50px;
  left: 65px;
}

.planetex_tok_stat {
  position: absolute;
  right: -70px;
  bottom: 10px;
}

.win_countdown_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 140px 0 0 0;
  min-height: 198px;
  background: linear-gradient(90deg, #8F244D 0%, rgba(22, 153, 201, 0.53) 64.18%, #030B2F 93.05%, #03042A 100%);
  border: 1px solid #2E2B70;
  backdrop-filter: blur(14.5px);
}

.win_countdown_timer_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  margin: 0 100px 0 0;
}

.win_countdown_timer_item {
  margin: 0 32px 0 0;
}

.win_countdown_timer_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 60px;
  background: rgba(64, 31, 43, 0.6);
  border: 0.731868px solid #000000;
  backdrop-filter: blur(10.6121px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 3px;
  
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.win_countdown_timer_caption {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0 0;

  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.win_countdown_progress_block {
  display: flex;
  width: 55%;
}

.win_countdown_progress_container {
  width: 500px;
}

.win_countdown_progress_caption {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.win_countdown_progress_initial {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 8px 0 0 0;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D1E2FD;
}

.win_countdown_progress_networks {
  display: flex;
  justify-content: flex-end;
  width: 440px;
  margin: 8px 0 0 0;
}

.win_countdown_progress_network_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 8px;
  width: 82.46px;
  height: 19px;
  border: 1px solid #D3D3D3;
  border-radius: 17px;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 6.84px;
  line-height: 8px;
  letter-spacing: 0.015em;
  color: #D3D3D3;
}

.win_countdown_progress_bar {
  margin: 14px 0 0 0;
}

.win_countdown_progress_external {
  width: 440px;
  height: 21px;
  background: #1D1938;
  border: 1px solid #535A74;
  border-radius: 43.75px;
}

.win_countdown_progress_internal {
  width: 139.06px;
  height: 21px;
  background: linear-gradient(270deg, #A73795 34.13%, rgba(149, 51, 96, 0.8) 100%);
  border-radius: 43.75px;
}

.win_countdown_progress_range {
  display: flex;
  justify-content: space-between;
  width: 440px;
  padding: 0 10px;

  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D1E2FD;
}

.win_countdown_progress_range_left {
  display: flex;
  align-items: center;
  padding: 4px 0 0 0;
}

.win_countdown_progress_range_right {
  display: flex;
  align-items: center;
  padding: 4px 0 0 0;
}

.win_countdown_progress_picon {
  display: flex;
  align-items: center;
  margin: 0 0 0 7px;
}

.benefits_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.benefits_container {
  width: 100%;
  padding: 0 120px;
  margin: 90px 0 0 0;
}

.section_title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.benefits_first_block {
  display: flex;
  margin: 50px 0 0 0;
}

.benefits_second_block {
  display: flex;
}

.benefits_text_container {
  width: 50%;
}

.benefits_text_block {
  position: relative;
}

.benefits_text_block2 {
  position: relative;
  margin: 60px 0 0 0;
}

.benefits_number_container {
  position: absolute;
  z-index: 0;
}

.benefits_number_container2 {
  position: absolute;
  z-index: 0;
}

.benefits_number {
  font-family: 'Druk-Wide-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 83.6674px;
  line-height: 109px;
  letter-spacing: 0.015em;
  color: #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BEBEBE;
}

.benefits_text_title {
  position:relative;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
  z-index: 2;
  top: 68px;
  left: 88px;
  padding: 0 88px 0 0;
}

.benefits_text {
  position:relative;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
  z-index: 2;
  top: 68px;
  left: 88px;
  padding: 0 88px 0 0;
}

.benefits_img_container {
  width: 50%;
}

.product_section {
  width: 100%;
}

.product_container {
  width: 100%;
  padding: 0 120px;
  margin: 56px 0 0 0;
}

.product_content {
  display: flex;
  margin: 68px 0 0 0;
}

.product_left_content {
  min-width: 365px;
  max-width: 365px;
}

.mobile_version {
  display: none;
}

.product_left_text {
  margin: 0 0 36px 0;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #BDCCEA;
}

.product_right_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 25px;
}

.product_right_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 195px;
  height: 178px;
  background-image: url('/images/Rectangle187.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.product_right_caption {
  margin: 0px;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.buy_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 60px;
  background: #9E40B5;
  border-radius: 38px;
  cursor: pointer;

  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 120px;
  /* margin: 178px 0 0 0; */
  margin: 65px 0 0 0;
}

.p2egame_section_content {
  display: flex;
  margin: 35px 0 0 0;
}

.p2egame_text_block {
  width: 50%;
}

.p2egame_text_title {
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_text_paragraph {
  margin: 45px 0 44px 0;
  max-width: 580px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.p2egame_image_block {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.p2egame_image_block_mobile {
  display: none;
}

.roadmap_section {
  width: 100%;
  padding: 0 120px;
}

.roadmap_title {
  margin: 120px 0 0 0;
}

.roadmap_content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 60px 0 0 0;
}

.roadmap_text_block {
  width: 50%;
  padding: 0 0 0 70px;
}

.roadmap_text_block p {
  margin: 16px 0 0 0;
}

.roadmap_text_subtitle {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.015em;
  color: #9E40B5;
}

.roadmap_text {
  max-width: 468px;

  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.roadmap_scale_container {
  width: 100%;
  margin: 148px 0 0 0;
}

.roadmap_quarters {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.roadmap_quarter {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.roadmap_scale {
  width: 100%;
  border: 1px solid #595362;
  border-radius: 1px;
}

.roadmap_internal {
  width: 25%;
  border: 1px solid #C49CFD;
  background-color: #C49CFD;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 5px #34175C;
}

.tokenomics_section {
  margin: 250px 0 0 0;
}

.tokenomics_container {
  height: 995px;
  width: 100%;
}

.team_section {
  width: 100%;
}

.team_persons_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 120px; 
}

.team_person {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 281px;
  height: 313px;
  margin: 58px 0 0 0;
  background-image: url('/images/teamPerson.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.team_person_caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 281px;
  height: 91px;
  left: 135px;
  top: 6484px;
  padding: 0 14px;
  background: rgba(106, 100, 143, 0.41);
  border-radius: 4px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, rgba(251, 228, 255, 1), rgba(129, 31, 255, 1));
}

.team_person_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 26px;
  border: 1px solid #DCDBDD;
  border-radius: 28px;
}

.team_person_position {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  margin: 8px 0 0 0;
}

.sale_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 140px 0 0 0;
  width: 100%;
  padding: 0 120px;
}

.sale_presale {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 510px;
  background-image: url('/images/rectangle180.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin: 85px 0 0 0;
  padding: 50px 90px;
}

.sale_presale_left {
  width: 408px;
}

.sale_presale_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.sale_presale_paragr {
  margin: 45px 0 0 0;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;

  color: #BDCCEA;
}

.sale_presale_divider {
  /* width: 2px; */
  /* height: 429px; */
  height: 100%;
  border: 1px solid #6A4D9B;
}

.sale_presale_tokensinfo {
  width: 408px;
}

.sale_presale_tokensinfo_item {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 30px 0;
}

.sale_presale_tokensinfo_button {
  display: flex;
  justify-content: flex-end;
}

.sale_NFTSale {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/NFTSale.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin: 30px 0 0 0;
}

.sale_divider {
  height: 100%;
  border: 1px solid #1C2353;
}

.sale_NFTSale_tokensinfo {
  width: 408px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sale_MainSale {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/MainSale.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin: 30px 0 0 0;
}

.sale_PrivateSale {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/PrivateSale.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin: 30px 0 0 0;
}

.sale_listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1170px;
  height: 510px;
  padding: 50px 90px;
  background-image: url('/images/PrivateSale.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin: 30px 0 0 0;
}

.sale_listing_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 10px 0 0 0;
}

.sale_listing_timer_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 780px;
  margiN: 72px 0 0 0;
}

.sale_listing_timer_cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 120px;
  background: rgba(64, 31, 43, 0.6);
  border: 1.5px solid #000000;
  backdrop-filter: blur(23px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 6px;

  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.sale_listing_timer_caption {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  text-align: center;
  margin: 16px 0 0 0;
}

.partners_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 60px 0 0 0;
  min-height: 198px;
}

.partners_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.partners_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 970px;
  margin: 110px 0 0 0;
}

.partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners_name {
  margin: 10px 0 0 0;
  font-family: 'Archivo-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4C2DC;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  margin: 130px 0 0 0;
  width: 100%;
  padding: 0 79px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #423B49;
  padding: 65px 92px 110px 92px;
}

.footer_products_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
}

.footer_title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.footer_text_medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px; 
}

.footer_text_regular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px;
}

.mobile_slider {
  display: none;
}


@media screen and (max-width: 1507px) {
  .container {
    width: 390px;
    margin: 0 auto;
    background-image: url('/images/landing/mainBGmobile.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }
  .header {
    width: 390px;
    height: 66px;
    padding: 0 20px;
  }
  .menu {
    display: flex;
  }
  .header_nav_wrapper {
    display: none;
    width: 0px;
    overflow: hidden;
  }
  .first_section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    padding: 0 25px;
  }
  .first_content {
    width: 100%;
    height: auto;
  }
  .first_title {
    font-family: 'Montserrat-Bold';
    margin: 52px 0 0 0;
    font-size: 36px;
    line-height: 103.19%;
    /* or 37px */
    text-align: center;
    color: #D4E5FF;
  }
  .first_subtitle {
    max-width: 100%;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
    margin: 30px 0 0 0;
  }
  .first_buttons_block {
    display: none;
  }
  .first_right {
    position: relative;
    width: 100%;
    height: 240px;
  }
  .planetex_tok {
    position: absolute;
    width: 103px;
    height: 23px;
    top: 65px;
    right: 5px;
  }
  .diagram {
    width: 113px;
    height: 67px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .planetex_tok_stat {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 35px;
  }
  .second_buttons_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px 0 0 0;
  }
  .download_WhitePaper_button {
    margin: 52px 0 0 38px;
  }
  .download_logo {
    position: absolute;
    left: -70px;
    top: -8px;
  }

  .win_countdown_section {
    display: none;
  }
  .benefits_container {
    padding: 0px;
  }
  .section_title {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .benefits_first_block {
    flex-direction: column;
    margin: 50px 0 0 0;
  }
  .benefits_text_container {
    width: 100%;
  }
  .benefits_number_container2 {
    position: absolute;
    z-index: 0;
    right: 0;
  }
  .benefits_number {
    font-size: 60px;
    line-height: 78px;
  }
  .benefits_text_title {
    top: 0px;
    left: 0px;
    padding: 0;
    top: 40px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .benefits_text {
    margin: 10px 0 0 0;
    top: 0px;
    left: 0px;
    padding: 0 30px;
    top: 40px;
    font-size: 13.5856px;
    line-height: 17px;
    text-align: center;
  }
  .benefits_img_container {
    width: 100%;
  }
  .benefits_second_block {
    flex-direction: column-reverse;
    margin: -50px 0 0 0;
  }
  .product_section {
    background-image: url('/images/landing/Group357991.svg');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-position: -185px -165px;
    overflow-y: visible;
  }
  .product_container {
    padding: 0;
    margin: 0;
  }
  .product_content {
    flex-direction: column;
    margin: 58px 0 0 0;
  }
  .product_left_text {
    text-align: center;
    padding: 0 20px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 0 35px 0;
  }
  .desctop_version {
    display: none;
  }
  .mobile_slider {
    display: block;
  }
  .mobile_version {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
  }
  .product_right_content {
    display: none;
  }
  .p2egame_section {
    padding: 0 20px;
    /* margin: 178px 0 0 0; */
    margin: 89px 0 0 0;
  }
  .p2egame_section  .section_title {
    display: none;
  }
  .p2egame_section_content {
    flex-direction: column;
  }
  .p2egame_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .p2egame_text_title {
    text-align: center;
  }
  .p2egame_image_block {
    display: none;
  }
  .p2egame_image_block_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0 0 0;
  }
  .p2egame_text_paragraph {
    margin: 35px 0 35px 0;
  }
  .buy_button {
    width: 268px;
    height: 58px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .join_button {
    width: 268px;
    height: 58px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
  }
  .p2egame_text_paragraph {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.015em;
  }
  .roadmap_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin: 0;
    padding: 55px 0 0 0;
    background-image: url('/images/landing/RoadmapMobileBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .roadmap_text_block {
    width: 100%;
    padding: 0;
  }
  .roadmap_text_subtitle {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
  .roadmap_text {
    text-align: center;
  }
  .roadmap_scale_container {
    display: none;
  }
  .tokenomics_section {
    margin: 0;
    width: 100%;
    background-image: url('/images/landing/tokenomics.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .tokenomics_section .section_title {
    margin: 40px 0 0 0;
  }
  .tokenomics_container {
    height: 685px;
    width: 100%;
  }
  .team_persons_container {
    display: none;
  }

  .sale_section {
    padding: 0;
  }
  .sale_cards {
    display: none;
  }
  .partners_block {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 34px;
    min-width: 300px;
    width: 320px;
    margin: 45px 0 0 0;
  }
  .partners_name {
    font-size: 16px;
    line-height: 17px;
  }
  .partners_title {
    font-size: 36px;
    line-height: 44px;
  }
  .footer {
    margin: 78px 0 0 0;
    padding: 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #423B49;
    padding: 36px 0 0 0;
    margin: 0 20px 0 20px;
  }
  .footer_products_about {
    display: none;
  }
  .footer_title {
    font-size: 22px;
    line-height: 26px;
  }
  .footer_text_medium {
    margin: 30px 0 70px 0;
    font-size: 18px;
    line-height: 21px;
    min-height: 105px; 
  }

}