.container {
  width: 1512px;
  margin: 0 auto;
  background-image: url('/images/mainBG.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* padding: 0 120px; */
  padding: 0;
}

.section_title {
  text-align: center;
  margin: 0;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.buy_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 217px;
  height: 60px;
  background: #9E40B5;
  border-radius: 38px;
  cursor: pointer;

  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
}

.partners_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 60px 0 0 0;
  min-height: 198px;
}

.partners_title {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.partners_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 970px;
  margin: 110px 0 0 0;
}

.partners_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners_name {
  margin: 10px 0 0 0;
  font-family: 'Archivo-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4C2DC;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem 0;
  margin: 130px 0 0 0;
  width: 100%;
  padding: 0 79px;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #423B49;
  padding: 65px 92px 110px 92px;
}

.footer_products_about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 540px;
}

.footer_title {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 0;
}

.footer_text_medium {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px; 
}

.footer_text_regular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.015em;
  color: #D4E5FF;
  margin: 18px 0 0 0;
  min-height: 122px;
}

.mobile_slider {
  display: none;
}


@media screen and (max-width: 1507px) {
  .container {
    width: 390px;
    margin: 0 auto;
    background-image: url('/images/landing/mainBGmobile.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }
  .benefits_container {
    padding: 0px;
  }
  .section_title {
    text-align: center;
    margin: 0;
    font-family: 'Montserrat-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.015em;
    color: #D4E5FF;
  }
  .desctop_version {
    display: none;
  }
  .mobile_slider {
    display: block;
  }
  .mobile_version {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
  }
  .buy_button {
    width: 268px;
    height: 58px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
  }
  .join_button {
    width: 268px;
    height: 58px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.015em;
  }
  .partners_block {
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 34px;
    min-width: 300px;
    width: 320px;
    margin: 45px 0 0 0;
  }
  .partners_name {
    font-size: 16px;
    line-height: 17px;
  }
  .partners_title {
    font-size: 36px;
    line-height: 44px;
  }
  .footer {
    margin: 78px 0 0 0;
    padding: 0;
  }
  .footer_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #423B49;
    padding: 36px 0 0 0;
    margin: 0 20px 0 20px;
  }
  .footer_products_about {
    display: none;
  }
  .footer_title {
    font-size: 22px;
    line-height: 26px;
  }
  .footer_text_medium {
    margin: 30px 0 70px 0;
    font-size: 18px;
    line-height: 21px;
    min-height: 105px; 
  }

}