.landing_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url('/images/mainBGdesktop.jpg');
  background-repeat:repeat-y;
  background-size: 100%;
  overflow: hidden;
}

.container {
  max-width: 1512px;
  width: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
}

/* @media screen and (max-width: 1507px) {
  .container {
    width: 744px;
    margin: 0 auto;
    background-image: url('/images/landing/mainBGtablet.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media screen and (max-width: 739px) {
  .container {
    width: 390px;
    margin: 0 auto;
    background-image: url('/images/landing/mainBGmobile.jpg');
    background-repeat: no-repeat;
    background-size: auto;
  }
} */